---
on:
  push:
    branches:
    - main
  merge_group:
  pull_request:
    branches:
    - main

concurrency:
  group: ${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}
  cancel-in-progress: true

name: pytest
jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        python-version: ['3.14', '> 3.14']
        os: [ubuntu-24.04, windows-2025]

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
    - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b  # v7.2.0
      name: Setup UV + Python
      with:
        python-version: ${{ matrix.python-version }}
        enable-cache: true
        cache-dependency-glob: |
          **/requirements*.txt
          **/pyproject.toml
          **/uv.lock

    - name: Install dependencies
      run: |
        uv sync

    - name: Lint with ruff
      run: |
        uv run --frozen ruff check .

    - name: Type check with mypy
      run: |
        uv run --frozen mypy src/tune_tile_press/

    - name: Test with pytest
      run: |
        uv run --frozen pytest

    - name: Upload coverage
      uses: codecov/codecov-action@18283e04ce6e62d37312384ff67231eb8fd56d24  # v5.4.3
      with:
        env_vars: OS,PYTHON_VERSION
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
